.text{
    &__container{
        height: 100%;
        h2{
            color: rgb(41, 38, 33);
            font-weight: 500;
            font-size: 36px;
            margin-bottom: 40px;
        }
        .text__title{
            font-size: 22pw;
            padding: 0 200px;
            line-height: 1.5;
            margin-bottom: 32px;
            font-weight: 400;

        }
        .text__profil{
            width: 30%;
            margin: 0 35%;
            h5{
                font-size: 14px;
                font-weight: 500;
            }
            p{

            }
        }
    }
}