.form{
    &__title{
        margin: 20px 0;
        font-size: larger;
        font-weight: 600;
    }
    &__group{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        label{
            margin: 5px 0;
        }
        input{
            padding: 10px;
            border: 1px solid #CEBD9C;
            border-radius: 5px;
        }
        textarea{
            border: 1px solid #CEBD9C;
            resize:none;

        }
    }
    &__submit{
        width: 50%;
        padding: 10px;
        margin: 5% 25%;
        border: 1px solid #CEBD9C;
        background-color: transparent;
        &:hover{
            background-color: #CEBD9C;
            color: white;
        }
    }
    &__message{
        margin: 10px 5%;
        color:red
    }
}